<% provide(:title, "Home") %>
<div class="jumbotron">
  <div class="container">
    <h1>Olyrent</h1>
    <h4>Under Development</h2>
    <p>Olyrent will be a classifieds site where you can post and view homes and apartments for rent in the Olympia, WA community.</p>
  </div>
</div>

