<p>
  <%=
    text = Array.new
    text.push(listing.location)
    text.push(listing.gallery) unless listing.gallery.nil?
    text.push("<br />")
    text.push("<b>#{listing.beds}</b> bedrooms") unless listing.beds.nil?
    text.push("<b>#{listing.bath}</b> bathrooms") unless listing.bath.nil?
    text.push(link_to("Pictures", listing.gallery)) unless listing.gallery.nil?
    raw(text.join(", "))
  %>
</p>

<%= link_to "View", listing %>
