<ul>
  <%
    text = Array.new
    text.push(listing.location)
    text.push(raw("<b>#{listing.beds}</b> bedrooms")) unless listing.beds.nil?
    text.push(raw("<b>#{listing.bath}</b> bathrooms")) unless listing.bath.nil?
    text.push(raw(link_to("Pictures", listing.gallery))) unless listing.gallery.nil?
  %>
<% text.each do |t| %>
  <li><%= t %></li>
<% end %>
</ul>

<div class="text-center">
  <%= link_to "View Listing", listing %>
</div>
