<% provide(:title, 'Post') %>

<h1>Post Rental</h1>

<%= form_tag do |f| %>

  <div class="form-group">
    <%= label_tag :title %>
    <%= text_field_tag :title %>
  </div>

  <%= submit_tag "Post Rental", class: "btn btn-large btn-primary" %>
<% end %>
