<div class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Olyrent", '#', class: "navbar-brand" %>
      <ul class="nav navbar-nav">
        <li><%= link_to "Post", new_rental_path %></li>
        <li><%= link_to "Search", '#' %></li>
      </ul>
    </div>
  </div>
</div>
