<div class="navbar navbar-static-top navbar-default">
  <div class="navbar-inner">
    <div class="container text-center">
      <ul class="nav navbar-nav">
        <li><%= link_to "Map", root_path %></li>
        <li><%= link_to "Post", new_rental_path %></li>
      </ul>
    </div>
  </div>
</div>
